* {
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.headerBg {
    background-color: rgba(39, 39, 39, 0.5);
    border: 3px solid black;

    letter-spacing: 3px;
    color: orangered;
}

.thor{
    transition: transform .3s ;
}
.thor:hover {
    transform: scale(1.05);
}